<div class="edit-overlay"></div>
<div class="edit">
  <div class="edit-head">
    <xng-breadcrumb class="edit-breadcrumb"></xng-breadcrumb>
    <p>{{ nameBlock }}</p>
    <i (click)="cancel()" class="fa-regular fa-rectangle-xmark"></i>
  </div>
  <form [formGroup]="form" (ngSubmit)="save()" class="form" *ngIf="form">
    <p class="form-input">
      <label
        class="label required"
        [class.has-error]="name?.invalid && name?.touched"
        >Title</label
      >
      <input
        maxlength="50"
        [class.has-error]="name?.invalid && name?.touched"
        type="text"
        formControlName="name"
        class="input"
        placeholder="Enter a name of course"
      />
    </p>
    <p class="form-input">
      <label
        class="label required"
        [class.has-error]="description?.invalid && description?.touched"
        >Description</label
      >
      <textarea
        maxlength="500"
        [class.has-error]="description?.invalid && description?.touched"
        type="text"
        formControlName="description"
        class="input"
        placeholder="Enter a description of course"
      ></textarea>
    </p>
    <app-date formControlName="date"></app-date>
    <app-duration formControlName="length"></app-duration>
    <app-authors
      formArrayName="authors"
      [authors]="authors | async"
    ></app-authors>
    <div class="form-buttons">
      <button class="cancel" (click)="cancel()">Cancel</button>
      <button
        [ngClass]="{ save: form.valid, disabled: !form.valid }"
        class="save"
        type="submit"
        [disabled]="!form.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>
