<app-header></app-header>
<div class="color">
  <div class="wrapper container">
    <div class="welcome">
      <h1>Welcome</h1>
      <p>
        To the Angular global mentoring program, here you can find courses that
        cover all topics needed to start your own Angular application.
      </p>
    </div>
    <div class="login">
      <h2>Login</h2>
      <div class="hr"></div>
      <input type="email" placeholder="Email" [(ngModel)]="inputEmail" />
      <input type="password" placeholder="Password" [(ngModel)]="password" />
      <label><input type="checkbox" /> Remember me</label>
      <button class="login-button" (click)="login()">Login</button>
    </div>
  </div>
</div>
