<app-header></app-header>
<div class="color">
  <div class="wrapper container">
    <div class="welcome">
      <h1>Welcome</h1>
      <p>
        To the Angular global mentoring program, here you can find courses that
        cover all topics needed to start your own Angular application.
      </p>
    </div>
    <form [formGroup]="form" class="login">
      <h2>Login</h2>
      <div class="hr"></div>
      <input type="email" placeholder="Email" formControlName="email" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <label><input type="checkbox" /> Remember me</label>
      <button
        [disabled]="!form.valid"
        [ngClass]="{ 'login-button': form.valid, disabled: !form.valid }"
        (click)="login()"
      >
        Login
      </button>
    </form>
  </div>
</div>
