<div appClickOutside (clickOutside)="closeSearch()" class="form-input">
  <label class="label required" [class.has-error]="form.invalid && form.touched"
    >Authors</label
  >
  <div *ngIf="!showSearch" class="authors">
    <div class="authors-item" *ngFor="let author of form.value; let i = index">
      <p>{{ author.firstName }} {{ author.lastName }}</p>
      <button class="authors-item_button" (click)="removeAuthor(i, $event)">
        -
      </button>
    </div>
    <button class="authors-item_button-plus" (click)="openSearch($event)">
      +
    </button>
  </div>
  <input
    autofocus
    *ngIf="showSearch"
    [class.input_has-error]="form.invalid && form.touched"
    class="input"
    placeholder="Search by name, description or date"
    [(ngModel)]="input"
    (input)="onChange.next($event)"
    (blur)="form.markAsTouched()"
  />
  <select
    *ngIf="showSearch"
    class="form-select"
    size="5"
    (change)="addAuthor($event)"
  >
    <option
      class="form-option"
      *ngFor="let author of authors"
      [value]="author.id"
    >
      {{ author.name }}
    </option>
  </select>
</div>
