<div class="courses">
  <router-outlet (deactivate)="update($event)"></router-outlet>
  <div class="container">
    <h1>Find or add angular courses</h1>
    <div class="setting container">
      <div class="search">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="15"
          height="15"
          viewBox="0 0 15 15"
        >
          <path
            d="M6.5 0A6.5 6.5 0 0 1 13 6.5a6.47 6.47 0 0 1-1.25 3.834L14.414 13 13 14.414l-2.666-2.665A6.47 6.47 0 0 1 6.5 13a6.5 6.5 0 1 1 0-13zm0 2a4.5 4.5 0 1 0 0 9 4.5 4.5 0 1 0 0-9z"
            fill="#8a8c99"
            fill-rule="evenodd"
          ></path>
        </svg>
        <input
          class="search_input"
          placeholder="Search by name, description or date"
          [(ngModel)]="inputSearch"
          (keyup)="keyUp.next($event)"
        />
      </div>
      <button
        class="add-course"
        [routerLink]="['./new']"
        [routerLinkActive]="'active'"
      >
        <svg
          class="add-course_svg"
          xmlns="http://www.w3.org/2000/svg"
          version="1.0"
          width="14"
          height="14"
          viewBox="0 0 1267.000000 1280.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <metadata>
            Created by potrace 1.15, written by Peter Selinger 2001-2017
          </metadata>
          <g
            transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
            stroke="none"
          >
            <path
              d="M6150 12794 c-195 -19 -398 -76 -550 -155 -338 -176 -592 -520 -691 -938 -54 -226 -52 -157 -56 -2058 l-4 -1763 -1712 0 c-1854 0 -1839 0 -2071 -54 -403 -96 -739 -346 -906 -676 -114 -227 -170 -514 -157 -817 17 -398 156 -724 421 -989 200 -199 415 -319 695 -385 204 -49 183 -49 2013 -49 l1717 0 4 -1762 c4 -1902 2 -1833 56 -2059 100 -421 345 -751 688 -927 124 -64 249 -105 402 -134 168 -32 494 -32 663 0 300 56 514 167 713 366 234 236 365 511 421 886 16 105 18 270 21 1873 l4 1757 1717 0 c1888 0 1849 -1 2091 61 400 103 715 350 886 698 151 305 196 741 115 1126 -83 402 -328 720 -697 907 -120 62 -190 87 -332 123 -218 55 -211 55 -2068 55 l-1712 0 -4 1763 c-3 1564 -5 1774 -20 1869 -59 391 -203 678 -463 928 -184 177 -393 280 -669 331 -108 20 -406 33 -515 23z"
            />
          </g>
        </svg>
        Add Course
      </button>
    </div>
  </div>
</div>
<div class="courses-list" *ngIf="courses">
  <app-courses-item
    (onDelete)="delete($event)"
    *ngFor="let course of courses | orderBy: sortBy"
    [course]="course"
  ></app-courses-item>
  <button
    *ngIf="courses.length != lenghtBD"
    class="container load-more"
    (click)="loadMore()"
  >
    Load more
  </button>
</div>
<p class="empty-list" *ngIf="!courses">NO DATA. FEEL FREE TO ADD NEW COURSE</p>
